@model ProductCreateModel
@{
    Layout = "_Layout";
}


<div class="container-fluid">
    <form asp-action="Create" asp-controller="Product" method="post">
        <div class="mb-3">
            <label>İlanın Başlığı:</label>
            <input type="text" class="form-control" asp-for="@Model.ProductName" />
        </div>
        <div class="mb-3">
            <label class="form-check-label">Aktif</label>
            <input type="checkbox" asp-for="@Model.Status" class="form-check-input" />
        </div>
        <div class="mb-3">
            <label>Birim başına miktar</label>
            <textarea asp-for="@Model.QuantityPerUnit" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label>Birim Fiyat</label>
            <textarea asp-for="@Model.UnitPrice" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label>Stok</label>
            <textarea asp-for="@Model.UnitInStock" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label>İndirim</label>
            <textarea asp-for="@Model.Discontinued" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label>Resim</label>
            <textarea asp-for="@Model.ImagePath" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <select class="form-select" asp-items="@Model.Category" asp-for="@Model.CategoryId" >
                <option value="0">
                    Bir kategori seçiniz
                </option>
            </select>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>