@model List<ProductListDto>



<link href="~/css/cart/mdb.dark.min.css" rel="stylesheet" />
<link href="~/css/cart/mdb.dark.rtl.min.css" rel="stylesheet" />
<link href="~/css/cart/mdb.min.css" rel="stylesheet" />
<link href="~/css/cart/mdb.rtl.min.css" rel="stylesheet" />
<link href="~/css/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />





<div>
    <section class="h-100" style="background-color: #eee;">

        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                        <div>
                            <p class="mb-0">
                                <span class="text-muted">Sort by:</span> <a href="#!" class="text-body">
                                    price <i class="fas fa-angle-down mt-1"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <input type="hidden" value="@ViewBag.UserId" />
                    @foreach (var item in Model)
                    {
                        
                        <input type="hidden" />
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="/media/products/@item.Image"
                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">@item.ProductName</p>
                                        <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <form method="post" action="@Url.Action("DecreaseProductQuantity", "Cart")">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit">-</button>
                                        </form>


                                        <input id="form1" min="0" name="quantity" value="@item.Quantity"
                                           class="form-control form-control-sm" />

                                        <form method="post" action="@Url.Action("IncreaseProductQuantity", "Cart")">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit">+</button>
                                        </form>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">@item.Price.ToString("C2")</h5>
                                    </div>
                                    <div class="text-end">
                                        <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id">
                                            <i class="bi bi-trash" style="color: #7c0909;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <label>Total Price: @Model.Sum(p=>p.Price).ToString("C2")</label>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <div class="form-outline flex-fill">
                                <input type="text" id="form1" class="form-control form-control-lg" />
                                <label class="form-label" for="form1">Discound code</label>
                            </div>
                            <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <a type="button" asp-area="Member" asp-controller="Order" asp-action="Add"  class="btn btn-warning btn-block btn-lg">Proceed to Pay</a>
                        </div>
                    </div>
                    <div class="card">
                        <a type="button" asp-area="" asp-controller="Product" asp-action="Index" class="btn btn-outline-warning btn-lg ms-3">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
